{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<h1>Bienvenue sur Konvix E-commerce !</h1>
	<p>Ceci est la page d'accueil.</p>
	{# Bouton catalogue supprimé #}
{% endblock %}
