
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
!/var/cache/
!/var/log/
!/var/sessions/
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep
/var/sessions/*
!/var/sessions/.gitkeep
/vendor/
public/uploads/*
!public/uploads/.gitkeep
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> tests documentation ###
/tests/_output/
/tests_doc
###< tests documentation ###