{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>Catégorie :
			{{ category.name }}</h1>
		{# Ajoute ici la liste des produits si besoin #}
		<p>{{ category.description }}</p>
	</div>
{% endblock %}
