{% extends 'base.html.twig' %}
{% block body %}
    <div class="container py-5">
        <div class="alert alert-danger mt-4 mb-4">
            <i class="bi bi-x-circle me-2"></i>Le paiement a été annulé ou rejeté. Votre commande n’a pas été validée.
        </div>
        <div class="mt-4">
            <a href="/cart" class="btn btn-outline-primary">Retour au panier</a>
        </div>
    </div>
{% endblock %}